
.container-fluid{
    background: #f7f7f7;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #444444; }
  
  h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  
  a, a:visited {
    color: #7376df; }
  
  a:hover, a:focus, a:active {
    color: #6365d2;
    text-decoration: none; }
  
  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: #7376df; }
  
  h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 600; }
  
  h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 500; }
  
  h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 500; }
  
  h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500; }
  
  h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-transform: uppercase; }
  
  h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-transform: uppercase; }
  
  p {
    color: #7c7c7c;
    font-size: .9rem; }
  
  .card-inverse p {
    color: #fff;
    font-size: .9rem; }
  
  .card h1 {
    border: none;
    margin: 0;
    padding-bottom: .5rem; }
  
  .no-padding {
    padding: 0; }
  
  .clear {
    clear: both; }
  
  .justify-center {
    display: flex;
    align-items: center;
    justify-content: center; }
  
  .text-muted {
    color: #a0a0a0 !important; }
  
  .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    margin: 2rem auto; }
  
  .circle {
    border-radius: 499rem; }
  
  .jumbotron {
    padding: 3rem 2rem;
    background-color: #f7f7f7; }
  
  .btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
    background-color: #7376df !important;
    border-color: #7376df !important; }
  
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    background-color: #6365d2 !important;
    border-color: #6365d2 !important; }
  
  .btn-outline-primary {
    color: #7376df !important;
    border-color: #7376df !important; }
  
  .btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary {
    color: #7376df !important; }
  
  .btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
    color: #6365d2 !important; }
  
  .dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
    background-color: #7376df !important;
    background-image: none; }
  
  .nav-pills .nav-link.active, .badge-primary[href]:focus, .badge-primary[href]:hover, a.bg-primary:focus, a.bg-primary:hover {
    background-color: #6365d2 !important; }
  
  .form-control:focus {
    border-color: #7376df !important; }
  
  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff !important;
    background-color: #7376df;
    border-color: #7376df; }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #6365d2;
    border-color: #6365d2; }
  
  .btn-outline-primary, .btn-outline-primary:visited {
    color: #7376df;
    border-color: #7376df;
    background: none; }
  
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #7376df;
    border-color: #7376df;
    color: #fff; }
  
  .btn-secondary {
    border-color: #7c7c7c;
    background-color: #7c7c7c;
    color: #fff; }
  
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border-color: #444444;
    background-color: #444444;
    color: #fff; }
  
  .btn-outline-secondary, .btn-outline-secondary:visited {
    color: #7c7c7c;
    border-color: #7c7c7c;
    background: none; }
  
  .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    border-color: #7c7c7c;
    background: #7c7c7c;
    color: #fff; }
  
  .btn {
    border-radius: 499rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    padding: .75rem 1.25rem;
    cursor: pointer; }
  
  .btn:focus {
    outline: none;
    border: 0;
    box-shadow: none; }
  
  .btn-xs {
    font-size: .6rem;
    padding: .5rem 1rem; }
  
  .btn-sm {
    font-size: .7rem;
    padding: .5rem 1rem; }
  
  .btn-md {
    font-size: .8rem;
    padding: .75rem 1.25rem; }
  
  .btn-lg {
    font-size: .9rem;
    padding: 1rem 1.5rem; }
  
  .btn-subtle {
    border: none;
    background: #f7f7f7;
    color: #7376df;
    -webkit-appearance: none;
    cursor: pointer; }
  
  .btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
    color: #fff;
    background-color: #7376df;
    outline: none; }
  
  .btn-stripped {
    border: none;
    background: none !important;
    color: #444444 !important;
    -webkit-appearance: none;
    cursor: pointer; }
  
  .btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
    color: #7376df;
    background-color: none;
    outline: none; }
  
  .dropdown a {
    color: #444444; }
  
  .dropdown a:hover, .dropdown a:active, .dropdown a:focus {
    background-color: #7376df;
    color: #fff; }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    background: #7376df; 
}
    .sidebar a {
      color: #fff;
      text-transform: uppercase;
      font-size: .7rem;
      letter-spacing: .2rem;
      padding: .75rem 1rem; }
    .sidebar em {
      font-size: 1rem; }
    .sidebar h1 {
      color: #fff;
      border: none;
      font-size: 0.9rem;
      padding: 0rem 1rem;
      text-transform: uppercase;
      letter-spacing: .2rem; }
    .sidebar .site-title {
      margin-top: .5rem;
      margin-bottom: 1.75rem; }
      .sidebar .site-title a {
        font-size: .9rem;
        padding-left: 0;
        padding-right: 0;
        cursor: pointer; }
      .sidebar .site-title a:hover {
        background: none !important; }
    .sidebar .nav {
      margin-bottom: 20px; }
    .sidebar .nav-item {
      width: 100%; }
    .sidebar .nav-item + .nav-item {
      margin-left: 0; }
    .sidebar .nav-link {
      border-radius: 0; }
    .sidebar .logout-button {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 85%;
      text-align: center;
      border-radius: .3rem; }
  
  #wrapper.toggled .sidebar-nav {
    display: none; }
  
  #menu-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  
  .sidebar a:focus, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
    background-color: #6365d2 !important; }
  
  @media screen and (max-width: 576px) {
    #wrapper .sidebar-nav {
      display: none; }
  
    #wrapper.toggled .sidebar-nav {
      display: block !important; }
  
    .sidebar {
      position: inherit;
      padding-bottom: 0px;
      margin-bottom: 1rem; }
  
    #menu-toggle {
      background-color: #6365d2; } 
    
    }



.bd-navbar {
    background: #f7f7f7;
    color: rgba(255, 255, 255, 0.85);
}

.bd-navbar a {
    color: black;
}

.release-card {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.story-badge{
  margin-right: 5px;
}


.release-subtitle {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #dfdfdf; 
}